body{
    background-color: #EEF0F5;
}
.header {
    padding: 15px; /* Espaciado interno del encabezado */
    text-align: right; /* Alineación del texto a la derecha */
    position: relative; /* Posición relativa para posicionar el título */
    padding-top: 150px;
    background-color: #5D44F9;
    transition: all 0.3s ease;
    color: #EEF0F5;
}
.header h1 {
    position: absolute; /* Posición absoluta para ajustar el título */
    bottom: 60px; /* Alineación en la parte inferior del encabezado */
    left: 120px; /* Alineación a la izquierda */
    font-size: 50px; /* Tamaño de fuente */
}
.header h2 {
    position: absolute; /* Posición absoluta para ajustar el título */
    bottom: 20px; /* Alineación en la parte inferior del encabezado */
    left: 120px; /* Alineación a la izquierda */
    font-size: 30px; /* Tamaño de fuente */
}
.header.active{
    margin-left: 100px;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px; /* Ancho de la barra lateral */
    background-color: #1C2136; /* Color de fondo */
    padding-top: 20px; /* Espaciado interno superior */
    transition: all 0.3s ease; /* Transición suave para animaciones */
}
.sidebar.active {
    width: 150px; /* Ancho de la barra lateral cuando está activa */
}
.sidebar .nav-item {
    display: none; /* Oculta los elementos de la barra lateral por defecto */
}
.sidebar.active .nav-item {
    display: block; /* Muestra los elementos de la barra lateral cuando está activa */
}
.sidebar a {
    padding: 10px 10px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff; /* Color del texto */
    display: block;
    transition: all 0.3s;
}
.sidebar a:hover {
    background-color: #495057; /* Color de fondo al pasar el mouse */
}
.btn{
    background: transparent;
    border: 0.5px solid transparent;
    font-size: 18px;
    margin-right: 20px;
}
.btn:hover{
    background-color: #131721;
    border: 0.5px solid transparent;
    font-size: 20px;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: white;
    background-color: #131721;
}
.nav-item::after{
    color: #5D44F9;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 12px 15px;
}
form{
    background: transparent;
}
button{
    background: transparent;
    border: 1px solid black;
    color: black;
}
.container{
    display: flex;
    flex-direction: column;
    div{
        margin: 5px 0;
    }
}
.btn-cerrarsesion{
    border: transparent;
    color: white;
}
.info-tarea{
    font-size: 20px;
    font-weight: 500;
}
.btn-entregar{
    background: #5D44F9;
    border-radius: 6px;
    color: white;
    padding: 7px 20px;
    font-size: 17px;
    font-weight: 450;
}
.input-atributos{
    width: 750px;
    height: 40px;
    margin: 5px 0;
    border: 1.8px solid black;
    border-radius: 4px;
    outline: none;
}
.input-atributos:focus{
    border: transparent;
    border: 3px solid #0B63B6;
}
.input-tablas{
    width: 200px;
    height: 40px;
    margin: 5px 0;
    border: 1.8px solid black;
    border-radius: 4px;
    outline: none;
}
.input-tablas:focus{
    border: transparent;
    border: 3px solid #0B63B6;
}
input{
    padding-left: 10px;
}
.tabla-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
}
.tabla-tareas {
    width: 80%; /* Puedes ajustar este valor según sea necesario */
    height: 50vh; /* Altura de la mitad de la ventana */
    overflow: auto; /* Permite el desplazamiento si la tabla es más alta que el contenedor */
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}